{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Восстановление пароля</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <style>
    .sidebar ul li a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }
  </style>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <ul>
        <li>{{ username }} - Инвестор</li>
        <li><a href="/logout/">Выход</a></li>
        <li><a href="/password_reset/">Восстановить пароль</a></li>
        <li><a href="/client/notifications/">Уведомления</a></li>
        <li><a href="/client/portfolio/">Просмотр акций</a></li>
        <li><a href="/client/chat/">Связь с менеджером</a></li>
      </ul>
    </aside>
    <main class="content">
      <div class="header">
        <h1>Восстановление пароля</h1>
      </div>
      <div class="main-area">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Восстановить пароль</button>
        </form>
      </div>
    </main>
  </div>
</body>
</html>
