{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анализ</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <style>
    .sidebar ul li a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }
  </style>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <ul>
        <li>{{ username }} - Менеджер</li>
        <li><a href="/logout/">Выход</a></li>
        <li><a href="/manager/settings/">Настройки</a></li>
        <li><a href="/manager/analysis/">Страница анализа акций и портфелей</a></li>
        <li><a href="/manager/chat/">Связь с клиентами</a></li>
      </ul>
    </aside>
    <main class="content">
      <div class="header">
        <h1>Анализ</h1>
      </div>
      <div class="main-area">
        <a href="{% url 'stock_analysis' %}" class="btn">Анализ акций</a>
        <a href="{% url 'portfolio_analysis' %}" class="btn">Анализ портфелей</a>
      </div>
    </main>
  </div>
</body>
</html>
