{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Просмотр информации о пользователях</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <style>
    .sidebar ul li a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }
  </style>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <ul>
        <li>{{ username }} - Админ</li>
        <li><a href="/logout/">Выход</a></li>
        <li><a href="/admin/users/">Просмотр информации о пользователях</a></li>
        <li><a href="/admin/security/add/">Добавление активов</a></li>
        <li><a href="/admin/security/remove/">Удаление активов</a></li>
        <li><a href="/admin/analysis/">Страница анализа акций</a></li>
      </ul>
    </aside>
    <main class="content">
      <div class="header">
        <h1>Просмотр информации о пользователях</h1>
      </div>
      <div class="main-area">
        <table>
          <thead>
            <tr>
              <th>ID пользователя</th>
              <th>Тип актива</th>
              <th>Цена актива</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              {% for portfolio in user.investmentportfolio_set.all %}
                {% for portfolio_security in portfolio.portfoliosecurity_set.all %}
                  <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ portfolio_security.security.asset_type }}</td>
                    <td>{{ portfolio_security.security.price }}</td>
                    <td>
                      <a href="{% url 'edit_security' portfolio_security.security.id %}">Изменить</a>
                      <a href="{% url 'delete_security' portfolio_security.security.id %}">Удалить</a>
                    </td>
                  </tr>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</body>
</html>
